.h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 46.3px;
    margin: 0px;
}

.h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 38.13px;
    margin: 0px;
}

.h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
    margin: 0px;
}