.s {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--gray-color);
    margin: 0px;
}

.m {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--gray-color);
    margin: 0px;
}

.l {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--gray-color);
    margin: 0px;
}