.wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 12px;

    width: 350px;
    height: 402px;
    border-radius: 5px 0px 0px 0px;
    border: 1px solid var(--frame-color);
}

.img {
    width: 330px;
    height: 200px;
    border-radius: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 6px;   
}

.subheading {
    display: flex;
    justify-content: space-between;
}

.line {
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer {
    display: flex;
    justify-content: space-between;
}