.like {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: none;
    border: 1px solid var(--button-color);
    cursor: pointer;
}

.like svg {
    stroke: var(--button-color);
}

.isLiked {
    background-color: var(--button-color);
}

.isLiked svg {
    stroke: var(--white-color);
}